{% extends "./index.html" %}
{% block title %} {{user.username}}  {% if dictionary_data %} Edit Coversheet {% else %}CoverSheet Creation {% endif %}{% endblock %}
{% block content %}
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 -->

      <style>
        table, td, th {    
            border: 1px solid #ddd;
            text-align: left;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }
      </style>
<form method="POST">
    {% csrf_token %}
<!-- this stuff expands navbar for some reason -->
<fieldset {% if request.user.is_superuser or approved %} disabled {% endif %}>
<div class="container">
  <h2>Monitoring Cover Sheet</h2>
  <p class="mt-5 mb-3 text-muted">
      a.	Each animal is examined and observed for abnormalities at each monitoring point. <br>
      b.	Each criterion is scored and the score marked on the recording sheet. Training is required to ensure all personnel are consistent in terms of scoring. <br>
      c.	Scores are then added together and a Total Welfare Impact Score marked on the recording sheet. <br>
      d.	Appropriate to the Total Welfare Impact Score, specific actions or interventions are undertaken. <br>
      e.	Comments concerning abnormalities are recorded in the “Comments” section.<br>
      f.	Any other abnormalities are recorded in the “Other” section.<br>
      g.	Any abnormality that is observed to be of greater severity than the descriptions provided above will require immediate euthanasia of the animal.<br>
      h.	All reporting documentation will be completed and submitted to facilities staff/manager and AWO if required. 
        
  </p>
  <div class="card">
    <div class="card-row">
      <div class="card-header">Contact Details</div>
      <div class="card-body">
              <div class="form-group">
                    <label for="formGroupExampleInput">AEC Protocol #</label>
                    <input type="text"  name ="Protocol_Title" class="form-control" id="formGroupExampleInput" value="RA/3/" readonly>
                  </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput">Protocol Title </label>
                    <input type="text"  name ="protocol_title" class="form-control" id="formGroupExampleInput" placeholder="Title" value = "{{ dictionary_data.contact_details.ProtocolTitle }}" required>
                  </div>
                  <div class="form-group">
                        <label for="formGroupExampleInput">Monitoring Start Date :</label>
                        <input type="date"  name ="start_date" class="form-control" id="formGroupExampleInput" placeholder="dd/mm/yyyy" value = "{{ dictionary_data.contact_details.MonitoringStartDate }}">
                  </div>
                  <div class="form-group">
                      <label for="formGroupExampleInput">Chief Investigator : </label>
                      <input type="text"  name ="cheif_investigator" class="form-control" id="formGroupExampleInput" placeholder="Full Name" value = "{{ dictionary_data.contact_details.ChiefInvestigator.0 }}">
                      <input type="number"  name ="cheif_investigator_phone" class="form-control" id="formGroupExampleInput" placeholder="Phone Number" value = "{{ dictionary_data.contact_details.ChiefInvestigator.1 }}">
                  </div>
                  <div class="form-group">
                      <label for="formGroupExampleInput">Emergency Contact :</label>
                      <input type="text"  name ="emergency_investigator" class="form-control" id="formGroupExampleInput" placeholder="Full Name"  value = "{{ dictionary_data.contact_details.EmergencyContact.0 }}">
                      <input type="number"  name ="emergency_investigator_phone" class="form-control" id="formGroupExampleInput" placeholder="Phone Number" value = "{{ dictionary_data.contact_details.EmergencyContact.1 }}">
                  </div>
                  <!-- HANDLE NAMES FOR FORM PROCESSING -->
                  <div class="form-group">
                      <label for="formGroupExampleInput">Monitor 1 :</label>
                      <input type="text"  name ="monitor_1" class="form-control" id="formGroupExampleInput" placeholder="Full Name" value = "{{ dictionary_data.contact_details.Monitor1.0 }}">
                      <input type="number"  name ="monitor_1_phone" class="form-control" id="formGroupExampleInput" placeholder="Phone Number" value = "{{ dictionary_data.contact_details.Monitor1.1 }}">
                  </div>
                  <div class="form-group">
                      <label for="formGroupExampleInput">Monitor 2 :</label>
                      <input type="text"  name ="monitor_2" class="form-control" id="formGroupExampleInput" placeholder="Full Name" value = "{{ dictionary_data.contact_details.Monitor2.0 }}">
                      <input type="number"  name ="monitor_2_phone" class="form-control" id="formGroupExampleInput" placeholder="Phone Number" value = "{{ dictionary_data.contact_details.Monitor2.1 }}">
                  </div>
                  <div class="form-group">
                      <label for="formGroupExampleInput">Monitor 3 :</label>
                      <input type="text"  name ="monitor_3" class="form-control" id="formGroupExampleInput" placeholder="Full Name" value = "{{ dictionary_data.contact_details.Monitor3.0 }}">
                      <input type="number"  name ="monitor_3_phone" class="form-control" id="formGroupExampleInput" placeholder="Phone Number" value = "{{ dictionary_data.contact_details.Monitor3.1 }}">
                      <div class="inline"><input type="checkbox" class="form-control" name="supervision"  {% if dictionary_data.contact_details.Supervisor %} checked {% endif %}> <p class="text-muted">under supervision until competent</p></div>
                    </div>
                  <div class="form-group">
                      <label for="formGroupExampleInput">Person responsible for euthanasia :</label>
                      <input type="text"  name ="euthanasia_person" class="form-control" id="formGroupExampleInput" placeholder="Full Name" value = "{{ dictionary_data.contact_details.PersonResponsibleForEuthanasia.0 }}">
                      <input type="number"  name ="euthanasia_phone" class="form-control" id="formGroupExampleInput" placeholder="Phone Number" value = "{{ dictionary_data.contact_details.PersonResponsibleForEuthanasia.1 }}">
                  </div>
                  <div class="form-group">
                      <label for="formGroupExampleInput">Other experts :</label>
                      <input type="text"  name ="other_experts" class="form-control" id="formGroupExampleInput" placeholder="Full Name" value = "{{ dictionary_data.contact_details.OtherExperts.0 }}">
                      <input type="number"  name ="other_experts_phone" class="form-control" id="formGroupExampleInput" placeholder="Phone Number" value = "{{ dictionary_data.contact_details.OtherExperts.1 }}">
                  </div>
                  <div class="form-group">
                      <label for="formGroupExampleInput">Animal Welfare Officer </label>
                      <input type="text"  name ="Protocol_Title" class="form-control" id="formGroupExampleInput" value="AWO" readonly>
                      <input type="number"  name ="Protocol_Title" class="form-control" id="formGroupExampleInput" value=0428021529 readonly>
                  </div>
      </div>
    </div>
  </div>

  <br>

    <div class="card">
      <div class="card-header">	Species / Phenotype / Model Issues</div>
      <div class="card-body">
          <div class="form-group">
              <input type="text"  name ="species_phenotype_issues" class="form-control" placeholder="species/phenotype/model issues" value = "{{dictionary_data.species_phenotype_issues.Species }}">
             </div>
      </div>
    </div>
    <br>

    <div class="card">
      <div class="card-header">	MONITORING CRITERIA AND SCORING </div>
      <div class="card-body">
          <div class="card">
            <div class="card-header"> Standard AEC Recommended Criteria </div>
            <div class="card-body">
            <br>
              Select criteria from template:
              <select id="template">
                <!-- fill from templates -->
                  <option value="0">Mouse</option>
                  <option value="1">Rat</option>
                  <option value="2">Sheep</option>
              </select>
              <input type="button" value ="apply" id="tempbutt">
              <input type="button" value="save as preset">
              <br><br>
              <table id="sarcrit">
                <tr>
                  <th style="text-align: center;">Criteria</th>
                  <th style="text-align: center;">0</th>
                  <th style="text-align: center;">1</th>
                  <th style="text-align: center;">2</th>
                  <th style="text-align: center;">Delete</th>
                </tr>
                <tr>
                  <td><textarea cols="30" rows="4" placeholder="Criteria Description" style="width:100%;">Activity – i.e. movement around the cageBright, Alert, Responsive (BAR)</textarea></td>
                  <td><textarea cols="30" rows="4" placeholder="Severity indicator description" style="width:100%;">Normal – mobile and active</textarea></td>
                  <td><textarea cols="30" rows="4" placeholder="Severity indicator description" style="width:100%;">Somewhat and/or intermittent stillness as compared to others</textarea></td>
                  <td><textarea cols="30" rows="4" placeholder="Severity indicator description" style="width:100%;">Will only move if approached or reluctant to move when touched.  Moderately reduced activity, dull, lethargic</textarea></td>
                  <td><input type="button" value="X" class="del1" style="margin: 0 auto;"></td>
                </tr>
                <tr>
                  <td><textarea cols="30" rows="4" placeholder="Criteria Description" style="width:100%;">Body Posture</textarea></td>
                  <td><textarea cols="30" rows="4" placeholder="Severity indicator description" style="width:100%;">Normal</textarea></td>
                  <td><textarea cols="30" rows="4" placeholder="Severity indicator description" style="width:100%;">Somewhat and/or intermittent hunched appearance</textarea></td>
                  <td><textarea cols="30" rows="4" placeholder="Severity indicator description" style="width:100%;">Moderate/continuous hunching and still</textarea></td>
                  <td><input type="button" value="X" class="del1" style="margin: 0 auto;"></td>
                </tr>
                <tr>
                  <td><textarea cols="30" rows="4" placeholder="Criteria Description" style="width:100%;">Social Behaviour (only relevant for group housed animals)</textarea></td>
                  <td><textarea cols="30" rows="4" placeholder="Severity indicator description" style="width:100%;">Normal</textarea></td>
                  <td><textarea cols="30" rows="4" placeholder="Severity indicator description" style="width:100%;">Somewhat or intermittently separate from others</textarea></td>
                  <td><textarea cols="30" rows="4" placeholder="Severity indicator description" style="width:100%;">Completely separate or isolated from others</textarea></td>
                  <td><input type="button" value="X" class="del1" style="margin: 0 auto;"></td>
                </tr>
              </table>
              <input type="button" onclick="add1()" value="add">
            </div>
          </div>
          <br>
            <div class="card">
                <div class="card-header">	Project specific criteria </div>
                <div class="card-body">
              <table id="pscrit">
                <tr>
                  <th style="text-align: center;">Criteria</th>
                  <th style="text-align: center;">0</th>
                  <th style="text-align: center;">1</th>
                  <th style="text-align: center;">2</th>
                  <th style="text-align: center;">Delete</th>
                </tr>
                <tr>
                  <td><textarea cols="30" rows="4" placeholder="Criteria Description" style="width:100%;"></textarea></td>
                  <td><textarea cols="30" rows="4" placeholder="Severity indicator description" style="width:100%;"></textarea></td>
                  <td><textarea cols="30" rows="4" placeholder="Severity indicator description" style="width:100%;"></textarea></td>
                  <td><textarea cols="30" rows="4" placeholder="Severity indicator description" style="width:100%;"></textarea></td>
                  <td><input type="button" value="X" class="del2" style="margin: 0 auto;"></td>
                </tr>
            </table>
            <input type="button" value="add" onclick="add2()">
            </div>
          </div>
          <!--<p class="text-muted">Total : 0 </p>-->
      </div>
  </div>
  <br>
    <div class="card">
      <div class="card-header">MONITORING FREQUENCY</div>
      <div class="card-body">
            <div class="card-group">
                <p class="text-muted">Describe monitoring regime including frequency of animal assessment and weighing.  Select frequency that will adequately identify potential issues (including those described in section17D).</p>

                    <textarea name="monitoring_frequency" class="form-control"></textarea>
                   </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header">Type of Recording sheet</div>
      <div class="card-body">
              <input type="checkbox" name="general" value="general"> General
              <input type="checkbox" name="anasthesia" value="anasthesia"> Anaesthesia
              <input type="checkbox" name="post_proc" value="post_proc"> Post Procedure
              <input type="checkbox" name="other" value="other">Other
              <div id="other_description">
                <input type="text" placeholder="Please Specify" name="other_description" class="form-control">
            </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header">ACTIONS AND INTERVENTIONS</div>
      <div class="card-body">
        <p>Add together all individual monitoring criteria scores for a Total Welfare Impact Score</p>
      <table id="asint">
        <tr>
          <th>Total Welfare Impact Score</th>
          <th>Actions/Interventions</th>
          
        </tr>
        <tr>
          <td><textarea cols="30" rows="5" style="width:100%;">0</textarea></td>
          <td><textarea cols="30" rows="5" style="width:100%;">- No interventions required</textarea></td>
        </tr>
        <tr>
          <td><textarea cols="30" rows="5" style="width:100%;">1</textarea></td>
          <td>
            <textarea cols="30" rows="5" style="width:100%;">- Monitor once daily
Consider analgesia (as described in the approval or following veterinary authorisation)</textarea>
          </td>
          
        </tr>
        <tr>
          <td><textarea cols="30" rows="5" style="width:100%;">2-4</textarea></td>
          <td>
<textarea cols="30" rows="5" style="width:100%;">- Monitor twice daily
- Weigh
- Consider analgesia (as described in the approval or following veterinary authorisation)
- Assess for euthanasia</textarea>
          </td>
          
        </tr>
        <tr>
          <td><textarea cols="30" rows="5" style="width:100%;">5
- Humane end-point</textarea></td>
          <td>
              <textarea cols="30" rows="5" style="width:100%;">- Immediate euthanasia
- Complete reporting documentation and submit to facilities staff/manager andAWO if required</textarea>
          </td>
          
        </tr>
        <tr>
          <th>Additional Specific Interventions</th>
          <th></th>
          <th>Delete</th>
        </tr>
        <tr>
          <td><textarea placeholder="Intervention description (e.g. Flystrike)" style="width:100%;"></textarea></td>
          <td><textarea style="width:100%;"></textarea></td>
          <td><input type="button" value="X" class="del3"></td>
        </tr>
      </table>
      <input type="button" value="add" onclick="add3()">
      </div>
    </div>
    <br>

    <div class="card">
      <div class="card-header">AEC INTERVENTIONS for body weight loss and subcutaneous tumor size</div>
      <div class="card-body">
        <p>Please referto Guidelines on the Induction of Tumours and Monitoring of Animal Welfare and Guidelines on Body Weight Deficit and Monitoring of Animal Welfare documents at: www.research.uwa.edu.au/staff/forms/animals</p>
        <p>NB. When body weight loss Threshold 2 is set at 10% the AEC does not require a dual threshold. ThereforeThreshold 1 should read N/A</p>
        <table>
          <tr>
            <th>Criteria</th>
            <th>Thresholds</th>
            <th>Actions</th>
          </tr>
          <tr>
            <th>Weight Loss %*</th>
            <td>Threshold 1:<br><input type="text"></td>
            <td>
              <ul>
                <li>Increase welfare monitoring frequency to: <input type="text"></li>
                <li>Measure weight at a frequency of: <input type="text"></li>
                <li>Notify the AWO or other approved reviewer</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>Threshold 2:<br><input type="text"></td>
            <td>
              <ul>
                <li>If the body weight deficit in any animal reaches this approved second threshold euthanasia must be performed</li>
                <li>Complete reporting documentation and submit to facilities staff/manager and AWO if required</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Tumor size</th>
            <td>Threshold 1:<br><input type="text"></td>
            <td>
              <ul>
                <li>Increase welfare monitoring frequency to: <input type="text"></li>
                <li>Measure tumours at a frequency of: <input type="text"></li>
                <li>Notify the AWO or other approved reviewer</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>Threshold 2:<br><input type="text"></td>
            <td>
              <ul>
                <li>Immediate euthanasia</li>
                <li>Complete reporting documentation and submit to facilities staff/manager and AWO if required</li>
              </ul>
            </td>
          </tr>
        </table>
        <p style="background-color:yellow;">*“In immature animals the assessment of a body weight deficit, as a manifestation of failure to thrive, may be based on a comparison with body weight in a comparable group of control animals or predicted body weight for age derived from a species-specific growth chart."</p>
      </div>
    </div>
    <br>
  <button class="btn btn-lg btn-outline-success btn-block" type="submit"> {% if dictionary_data %}Edit Coversheet{% else %}Create CoverSheet{% endif %}</button>
</div>
{% load static %}
<script src="{% static "animalwellbeing/coversheet.js" %}">
</script>
</fieldset>
</form>
{% endblock %}