<!DOCTYPE html>
<html>
		<head>
				<title>{{user.username}}'s Profile</title>
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			
				<!-- Bootstrap CSS -->
				<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
			</head>
<body>
	<div class="container-fluid">
	<h1> Hey {{user.username}}, Welcome to the animal well being ruberic</h1>
	<a href={% url 'awb:logout' %}> <button type="button" class="btn btn-danger">Logout</button>
	<a href={% url 'awb:createcoversheet' %}> <button type="button" class="btn btn-primary">Create CoverSheet form</button>
	</a>
	<br>
	</div>

</body>
</html>