{% extends "./index.html" %}
{% block title %} {% if request.user.is_superuser %} {{user.username}} {% else %} {{user.firstname}} {% endif %}'s Profile {% endblock %}
{% block content %}
    <div class="container">
        <h1>Profile</h1>
        <p>Username: {{ user }}</p>
        <p>First name: {{ researchers_infor.firstname }}</p>
        <p>Last name: {{ researchers_infor.surname}}</p>
        <p>Email: {{ user.email }}</p>
        <td><a href={% url 'awb:edit_profile' %}><button type="button" class="btn btn-link">Edit Profile</button></a> </td>
    </div>
{% endblock %}