{% extends "./index.html" %}
{% block title %} Cover Sheet {% endblock %}
{% block content %}
<style>
	table, th, td {
	   border: 1px solid black;
	}
	th, td {
	    padding: 15px;
	    text-align: left;
	}
</style>
<div class="container-fluid">
	<br>
	<h1>{{sheet.contact_details.protocol_title}}</h1>
	<p>Sheet contents (for testing): {{sheet}}</p>
	<a href={% url 'awb:edit_cs' sheetid %}>Edit this sheet</a>
	<h2>Contact Information</h2>
	<table>
		<tr><th>Title:</th><td>{{sheet.contact_details.protocol_title}}</td></tr>
		<tr><th>Start Date:</th><td>{{sheet.contact_details.start_date}}</td></tr>
		<tr><th>Chief Investigator:</th><td>{{sheet.contact_details.chief_investigator.0}}</td><td>Ph. {{sheet.contact_details.chief_investigator.1}}</td></tr>
		<tr><th>Emergency Contact:</th><td>{{sheet.contact_details.emergency_contact.0}}</td><td>Ph. {{sheet.contact_details.emergency_contact.1}}</td></tr>
		<tr><th>Monitoring Officer 1:</th><td>{{sheet.contact_details.monitor_2.0}}</td><td>Ph. {{sheet.contact_details.monitor_1.1}}</td></tr>
		<tr><th>Monitoring Officer 2:</th><td>{{sheet.contact_details.monitor_2.0}}</td><td>Ph. {{sheet.contact_details.monitor_2.1}}</td></tr>
		<tr><th>Monitoring Officer 3:</th><td>{{sheet.contact_details.monitor_3.0}}</td><td>Ph. {{sheet.contact_details.monitor_3.1}}</td></tr>
		<tr><th>Officer in charge of Euthanization:</th><td>{{sheet.contact_details.euth_officer.0}}</td><td>Ph. {{sheet.contact_details.euth_officer.1}}</td></tr>
		<tr><th>Other officer:</th><td>{{sheet.contact_details.other.0}}</td><td>Ph. {{sheet.contact_details.other.1}}</td></tr>
	</table>
	<br>
	<h2>Protocol Details</h2>
	<table>
		<tr><th>Species:</th><td>{{sheet.species_phenotype_issues.species}}</td></tr>
		<tr><th>Monitoring Criteria: </th><td>To Be Completed</td></tr>
	</table>
	</div>
{% endblock %}