{% extends "./index.html" %}
{% block title %} {% if request.user.is_superuser %} {{user.username}} {% else %} {{user.firstname}} {% endif %}'s Profile {% endblock %}
{% block content %}
<div class="container-fluid">

	<h1> Hey {% if request.user.is_superuser %} {{user.username}} {% else %} {{user.firstname}} {% endif %} </h1>
	<p class="text-muted"><i> {% if request.user.is_superuser %} Superuser {% else %}Researcher {% endif %} </i></p>
	<p>
		Welcome to UWA's animal well being app 
	</p>
	{% if isResearcher %}
		<a href={% url 'awb:createcoversheet' %}> <button type="button" class="btn btn-primary">Create CoverSheet form</button></a>
	{% endif %}
	<br>
	<br>

	{% if templates %}

	{%if request.user.is_superuser %}
	 <form method="get" action="{% url 'awb:search' %}">
	  	<div class="form-group">
			<input type="text" class="w-auto" name="q" placeholder="search_project_by_name">
		</div>
		<button type="submit" class="btn btn-default">Search</button>
	 </form>
	{% endif %}
	<table class="table">
		<thead>
		  <tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Created</th>
			<th scope="col">Author</th>
			{% if not isResearcher %}
			<th scope="col">Approval</th>
			{% endif %}
			<th scope="col"></th>
		  </tr>
		</thead>
		<tbody>

        {% if results %}
        {% for templ in results %}
		  <tr>
			<th scope="row">{{templ.pk}}</th>
			<td>{{templ.name}}</td>
			<td>{{templ.created_at}}</td>
			<td>{{templ.creator.firstname}}</td>
              {% if not isResearcher %}
			<td> <font color="red">Unapproved</font></td>
              {% endif %}
			<td><a href={% url 'awb:download' templ.pk %}><button type="button" class="btn btn-link">Download</button></a> </td>
		  </tr>
		  {% endfor %}
        {% else %}
			<h2>{{Message}}</h2>
		{% endif %}

			{% for templ in templates %}
		  <tr>
			<th scope="row">{{templ.pk}}</th>
			<td> <a href={% url 'awb:edit_cs' templ.pk %}>{{templ.name}}</a> </td>
			<td>{{templ.created_at}}</td>
			<td>{{templ.creator.firstname}}</td>
			{% if not isResearcher %}
			<td> {% if templ.approved %} <font color="green"> Approved </font> {% else %} <font color="red"> Unapproved</font> {% endif %}</td>
			{% endif %}
			<td><a href={% url 'awb:download' templ.pk %}><button type="button" class="btn btn-link">Download</button></a> </td>
		  </tr>
		  {% endfor %}
		</tbody>
	  </table>
	  {% endif %}
	</div>
{% endblock %}